div{
    width: 200px;
    height: 100px;
    margin: 10px;
    border: 5px black dashed;
    background: red;
}

#div1{
    background-color: yellow;
}

#div2{
    background-color: antiquewhite;
    background-clip: padding-box;
    /*background-clip indica a partir de onde ha o background color*/
    /*padding box eh o estilo da caixa ao redor*/
}

#div3{
    background-image: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/large/public/field/image/2016/06/xpbliss_7.jpg?itok=RDRuJObj");
    background-repeat: no-repeat;
}

#div4{
    background-image: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/large/public/field/image/2016/06/xpbliss_7.jpg?itok=RDRuJObj");
    background-repeat: no-repeat;
    background-origin: border-box;
    /*background-origin: define onde comeca a imagem*/
}


#div5{
    background-image: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/large/public/field/image/2016/06/xpbliss_7.jpg?itok=RDRuJObj");
    background-repeat: no-repeat;
    background-size: contain;
    /*contain tenta  alterar o tamanho da imagem de maneira a fazer com que ela apareca completamente na regiao do background*/
}

#div6{
    background-image: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/large/public/field/image/2016/06/xpbliss_7.jpg?itok=RDRuJObj");
    background-repeat: no-repeat;
    background-size: cover;
    /*atributo cover tenta esticar ou diminuir a imagem de tal maneira que ela ocupe o maior espaco possivel*/
}

body{
    background-image: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/large/public/field/image/2016/06/xpbliss_7.jpg?itok=RDRuJObj");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*attachment fixed faz com que o background se mova conforme o usuario move a pagina, o padrao eh o atributo scroll*/
    background-position: 400px center;
    background-size: contain;

}